--
-- PostgreSQL database cluster dump
--

\restrict AD3RYLRryPFlWF1jiQDAVCGnaTXn5JKIo9VNIeNQpJ5a5o5BX5MHBS8sO4aGEv1

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Roles
--

CREATE ROLE testadmin;
ALTER ROLE testadmin WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'md54ae4b971650f35d2171dd1fa9b9bf590';

--
-- User Configurations
--








\unrestrict AD3RYLRryPFlWF1jiQDAVCGnaTXn5JKIo9VNIeNQpJ5a5o5BX5MHBS8sO4aGEv1

--
-- Databases
--

--
-- Database "template1" dump
--

\connect template1

--
-- PostgreSQL database dump
--

\restrict PFaS0guTWsaejKtMjAJJUeFdpShmMHL7kjE6TvgM9f11s5tt83b8fSbfanTymhe

-- Dumped from database version 18.1 (Debian 18.1-1.pgdg13+2)
-- Dumped by pg_dump version 18.1 (Debian 18.1-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict PFaS0guTWsaejKtMjAJJUeFdpShmMHL7kjE6TvgM9f11s5tt83b8fSbfanTymhe

--
-- Database "postgres" dump
--

\connect postgres

--
-- PostgreSQL database dump
--

\restrict IgllK1a7bGrSmmKp3vKYNU7MtQ0sHWpC5KYXbsBVDiMzZwDWpRGULoDhVPIRT80

-- Dumped from database version 18.1 (Debian 18.1-1.pgdg13+2)
-- Dumped by pg_dump version 18.1 (Debian 18.1-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict IgllK1a7bGrSmmKp3vKYNU7MtQ0sHWpC5KYXbsBVDiMzZwDWpRGULoDhVPIRT80

--
-- Database "testdb" dump
--

--
-- PostgreSQL database dump
--

\restrict lE7q0ML7IfPA6RxtbxIwalKIBu0siPZ2J8hdz6anKeCw8xIwMIyUAtLiFsrhvPW

-- Dumped from database version 18.1 (Debian 18.1-1.pgdg13+2)
-- Dumped by pg_dump version 18.1 (Debian 18.1-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: testdb; Type: DATABASE; Schema: -; Owner: testadmin
--

CREATE DATABASE testdb WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE testdb OWNER TO testadmin;

\unrestrict lE7q0ML7IfPA6RxtbxIwalKIBu0siPZ2J8hdz6anKeCw8xIwMIyUAtLiFsrhvPW
\connect testdb
\restrict lE7q0ML7IfPA6RxtbxIwalKIBu0siPZ2J8hdz6anKeCw8xIwMIyUAtLiFsrhvPW

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: messages; Type: TABLE; Schema: public; Owner: testadmin
--

CREATE TABLE public.messages (
    id integer NOT NULL,
    from_node_id character varying(20) NOT NULL,
    to_node_id character varying(20),
    message_text text,
    rssi integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.messages OWNER TO testadmin;

--
-- Name: messages_id_seq; Type: SEQUENCE; Schema: public; Owner: testadmin
--

CREATE SEQUENCE public.messages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.messages_id_seq OWNER TO testadmin;

--
-- Name: messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: testadmin
--

ALTER SEQUENCE public.messages_id_seq OWNED BY public.messages.id;


--
-- Name: nodes; Type: TABLE; Schema: public; Owner: testadmin
--

CREATE TABLE public.nodes (
    id integer NOT NULL,
    node_id character varying(20) NOT NULL,
    node_name character varying(100),
    latitude numeric(9,6),
    longitude numeric(9,6),
    battery_level integer,
    last_seen timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.nodes OWNER TO testadmin;

--
-- Name: nodes_id_seq; Type: SEQUENCE; Schema: public; Owner: testadmin
--

CREATE SEQUENCE public.nodes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.nodes_id_seq OWNER TO testadmin;

--
-- Name: nodes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: testadmin
--

ALTER SEQUENCE public.nodes_id_seq OWNED BY public.nodes.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: testadmin
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    email character varying(100) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO testadmin;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: testadmin
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO testadmin;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: testadmin
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: messages id; Type: DEFAULT; Schema: public; Owner: testadmin
--

ALTER TABLE ONLY public.messages ALTER COLUMN id SET DEFAULT nextval('public.messages_id_seq'::regclass);


--
-- Name: nodes id; Type: DEFAULT; Schema: public; Owner: testadmin
--

ALTER TABLE ONLY public.nodes ALTER COLUMN id SET DEFAULT nextval('public.nodes_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: testadmin
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: testadmin
--



--
-- Data for Name: nodes; Type: TABLE DATA; Schema: public; Owner: testadmin
--

COPY public.nodes (id, node_id, node_name, latitude, longitude, battery_level, last_seen, created_at) FROM stdin;
1	NODE001	Heltec Node 1	53.201800	6.567300	85	2026-01-14 15:14:18.575478	2026-01-14 15:14:18.575478
2	NODE002	Heltec Node 2	53.202000	6.568000	72	2026-01-14 15:14:18.575478	2026-01-14 15:14:18.575478
3	NODE003	Gateway Node	53.201500	6.567000	100	2026-01-14 15:14:18.575478	2026-01-14 15:14:18.575478
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: testadmin
--

COPY public.users (id, username, email, created_at) FROM stdin;
1	admin	admin@example.com	2026-01-14 15:14:18.567206
2	person1	person1@example.com	2026-01-14 15:14:18.567206
3	person2	person2@example.com	2026-01-14 15:14:18.567206
\.


--
-- Name: messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: testadmin
--

SELECT pg_catalog.setval('public.messages_id_seq', 139, true);


--
-- Name: nodes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: testadmin
--

SELECT pg_catalog.setval('public.nodes_id_seq', 4, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: testadmin
--

SELECT pg_catalog.setval('public.users_id_seq', 4, true);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: testadmin
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: nodes nodes_node_id_key; Type: CONSTRAINT; Schema: public; Owner: testadmin
--

ALTER TABLE ONLY public.nodes
    ADD CONSTRAINT nodes_node_id_key UNIQUE (node_id);


--
-- Name: nodes nodes_pkey; Type: CONSTRAINT; Schema: public; Owner: testadmin
--

ALTER TABLE ONLY public.nodes
    ADD CONSTRAINT nodes_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: testadmin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: testadmin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: testadmin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: idx_messages_from_node; Type: INDEX; Schema: public; Owner: testadmin
--

CREATE INDEX idx_messages_from_node ON public.messages USING btree (from_node_id);


--
-- Name: idx_nodes_node_id; Type: INDEX; Schema: public; Owner: testadmin
--

CREATE INDEX idx_nodes_node_id ON public.nodes USING btree (node_id);


--
-- Name: idx_users_username; Type: INDEX; Schema: public; Owner: testadmin
--

CREATE INDEX idx_users_username ON public.users USING btree (username);


--
-- Name: messages messages_from_node_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: testadmin
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_from_node_id_fkey FOREIGN KEY (from_node_id) REFERENCES public.nodes(node_id);


--
-- PostgreSQL database dump complete
--

\unrestrict lE7q0ML7IfPA6RxtbxIwalKIBu0siPZ2J8hdz6anKeCw8xIwMIyUAtLiFsrhvPW

--
-- PostgreSQL database cluster dump complete
--

